
/*HEADER*/
*{
    margin: 0;
}
html{
    font-size: 1em;
}
ul {
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 1em;
}


.main-header{
    background-color: #3a3a3a; 
    width: 100%;
    font-size: 1.5em;
}

.main-nav{
    margin-top: 5px;
    padding: 0;
}

.main-nav--link {
    flex: 1;
    text-align: center;   
    font-size: 1.2em;
}

.main-nav a{
    background-color: #5e5f60;
    color: #fff;
    /* padding: 10px; */
    margin: 0px;
}

.name, .main-nav a{
    text-align: center;
    display: block;
    
    /*padding: 10px 15px;*/
}

.name{
    font-size: 1.8em;
    padding: 0;
    color: #ffffff;
    background-color: #3a3a3a;
    
    
}

/* Highlight active page link */
.main-nav .active{
    color: #fff;
    /* background: #aeb7c4; */
    background: #4C7B94;
}

.main-header{
    width: 100%;
}


/*MEDIA QUERIES*/

/*Screens above 769px*/
@media screen and (min-width: 769px) {
    .main-header,
    .main-nav {
        width: 100%;
        display: flex;
    
    }
    .main-nav a{
        margin: 0px;
        padding: 0px;
    }

    .main-header{
        flex-direction: column;
        align-items: center;
        background: #3a3a3a;
        margin: 0;
        
    }   
    .main-nav--link:nth-child(2){
        border-left:  solid #3a3a3a 5px;
        border-right: solid #3a3a3a 5px;
    }
    .name{
        background-color:#3a3a3a;
        color: #ffffff;
        
    }
    .main-nav{
        margin: 0px;
        padding-right: 0px;
    }
}

/*Screens above 1025px*/
@media (min-width: 1025px){
    .main-header,
    .main-nav,
    .name{
        width: 100%; 
        display: flex;
        margin: 0px;
        
    }

    .main-header{
        flex-direction: row;
        justify-content: space-around;
        background: #3a3a3a;
        
    }
    .main-nav--link:nth-child(1){
        /* border-left:  solid #21353F 5px; */
        
    }
    .name{
        margin-right: auto;
        padding-left: 25px;
        color: #ffffff;
        background: #3a3a3a;
    }
    .main-nav a{
        margin: 0px;
        padding: 10px;
    }
    main-nav{
        align-self: flex-end;
    }
}

/*HEADER END*/

