/*!Mobile First Approach!*/

:root {
  --main-bg-white: #fcfcfc;
}

/*background-color classes*/
.bg-yellow{
    background-color: #F6D155;
    color: #090900;
}
.bg-blue{
    background-color: #578CA9;
    color: var(--main-bg-white);
}
.bg-red{
    background-color: #F2552C;
    color: var(--main-bg-white);
}
.bg-green{
    background-color: #92B558;
    color: #3a3a3a;
}
body{
     font-family: 'Varela Round', sans-serif; 
     /* font-family: 'Archivo Narrow', sans-serif;  */
    line-height: 1.6;
    color: #3a3a3a;
    margin: 0;
}


/*Adjust background color for page*/
.app ,html{
    background-color: #16232A;
}

p{
    padding-top: 10px;
    font-size: 1.5em;
}
li{
    /* font-size: 1.4vw; */
}
h3{
    /* font-size: 2.5vw; */
}
.main-content > h2{
    font-size: 2.75em;
}


/*Content*/
/*Home Page*/
.language-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title title"
                         "list list list";
}
.language-container h3{
    height: 10px;
}
.container h3{
    grid-area: title;
}
.language-list{
    padding: 10px;
}

/*Home Page End*/


.mycontainer{
    font-family: 'Archivo Narrow', sans-serif;
    width: 90%;
    margin: 10px auto;
    background-color: var(--main-bg-white);
    padding: 0px;
}

.container--body{
    padding: 25px 25px;
    padding-bottom: 200px;

}

.divider{
    height: 1px;
    width: 90%;
    margin: 20px auto;
    padding-left: 15%;
    /* flex-grow: 1; */
    background-color: #d1d1d1;

}
.work--link a{
    margin: 0 10px;
}
.work--link:hover{
    cursor: pointer;
}
/* WORK */
.work-mock-link img{
    border: solid black 5px;
    border-radius: 4px;
    height: calc(40%);
    margin: 0 auto;
}



/*Gists main container*/
.gist--main{
    margin-top: 50px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap; 
    justify-content: center;
    flex: 1 0;
    
}
/* individual gists */
.gist{
    background-color: #333333; 
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    margin: 5px 2px;
    border-radius: 5px;
    width: 300px;
    padding: 25px 20px 10px 20px;
    align-items: center;
    color: #d1d1d1;
}

.gist:hover{
    animation: hoverfade .2s forwards;
    
}

@keyframes hoverfade{
    100% {background-color: #212121;color: #ffffff;}
}

.gist--tools{
    display: flex;
    display: -webkit-flex;
    /*justify-content: flex-start;*/
    margin-left: 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.gist--tools-tool{
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: 20px;
    padding: 0 5px;
    border-radius: 3px;
    font-size: .8em;
    
}

/*gist title, icons, paragraph*/
.gist--content-container{
    width: 350px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    margin-bottom: 165px;
    
}
/*gist text content*/
.gist--content{
    margin: 5px;
}
.gist--url{
    color: #dbc98c;

}
/*Mobile*/
@media screen and (max-width: 769px) {
    .gist{
        flex-wrap: wrap;
        
    }

    
    .gist--image{
        margin: 10px auto;
        align-content: center;
    }
    .gist--content-container{
        width: 75vw;
    }
}
/*-Gists End*/
/*Content END*/

/*Contact*/

.contact--links{
    margin-top: 25px;
    font-size: 2em;
}

.contact--link{
    margin-top: 25px;
    font-family: 'Varela Round', sans-serif; 
    text-decoration: none;
    color: #0645AD;
    font-weight: bold;
}

/*Contact END*/
